#hd_main {
    background: #ffffff;
    width: 100%;
    z-index: 1999;
    border-bottom: 1px solid #ddd;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
}

.hd_main {
    position: fixed;
    width: 100%;
}

h1 {
    margin: 0;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    color: black;
    width: 100%;
}

@media(max-width:600px) {
    img {
        display: none;
    }
}

.hd1 {
    margin: 0;
    background-color: gray;
    width: 100%;
    border-bottom: 1px solid red;
    position: relative;
}

ul,
li,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
    list-style: none;
}

#gnb {
    display: block;
    width: 100%;
    text-align: center;
}

#gnb_1dul {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.gnb_1dli {
    position: relative;
    display: inline-block;
    width: 20%;
    float: left;
    border-bottom: 1px solid blue;
    background-color: aqua;
}

.gnb_1da {
    color: #000;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
}

.gnb_2dul {
    position: absolute;
    width: 100%;
    background-color: orange;
}

.gnb_2da {
    color: #555;
    padding: 10px 20px;
    font-weight: normal;
    white-space: nowrap;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    display: none;
}

.gnb_1dli:hover .gnb_2da {
    display: block;
    position: relative;
    padding: 10px 0 10px 0;
}

#ft {
    background: #222;
}

.ft_wr {
    background: #1f262d;
    color: #555;
    text-align: center;
    padding: 40px 20px;
}

#top_btn.show {
    opacity: 1;
}

#top_btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #121418;
    border: 0;
    z-index: 999;
    color: #fff;
    transition: opacity 0.2s ease-out;
}