body {
    margin: 0;
    padding: 0;
    font-size: 0.813em;
    font-family: 'Noto Sans KR', AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum, '돋움', sans-serif;
    letter-spacing: -1px;
    color: #1F262D;
}

.hd_main {
    background: #ffffff;
    width: 100%;
    height: 123.11px;
    z-index: 1999;
    border-bottom: 0.5px solid #ddd;
    position: sticky;
    top: 0;
}

.title_logo img {
    display: block;
    position: relative;
    width: 498px;
    align-items: center;
    z-index: 2000;
    padding: 10px 0 10px 0;
    margin: auto;
}

.hd1 {
    margin: 0;
    background-color: #ffffff;
    width: 100%;
    border-bottom: 0.5px solid #ddd;
    position: relative;
}

ul,
li,
dl,
dt,
dd {
    padding: 0;
    margin: 0;
    list-style: none;
}

#main_gnb {
    margin: 0 auto;
    max-width: 100%;
    border-top: 0px solid #eee;
    position: relative;
}

#main_gnb .main_gnb {
    max-width: 1400px;
    margin: 0 auto;
}

#gnb {
    display: block;
    width: 100%;
    text-align: center;
}

#gnb_1dul {
    margin: 0;
    text-align: center;
}

a {
    text-decoration: none;
}

.gnb_1dli {
    position: relative;
    display: inline-block;
    width: 25%;
    float: left;
    border-bottom: 1px solid #ddd;
    background-color: #ffffff;
}

.gnb_1da {
    color: #1F262D;
    line-height: 60px;
    font-size: 18px;
    font-weight: bold;
}

.gnb_2dul {
    position: absolute;
    width: 100%;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
}

.gnb_2da {
    color: #1F262D;
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-size: 12px;
    line-height: 11px;
    text-align: center;
    display: none;
}

.gnb_1dli:hover .gnb_2da {
    display: block;
    position: relative;
    padding: 10px 0 10px 0;
}

.maintext {
    position: relative;
    overflow: hidden;
    background: url(/practice/img/body.png)no-repeat center center;
    width: 100%;
    background-size: cover;
    padding: 50px 0 50px 0;
}

#h2_maintext{
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
    color: #fff;
}

#h2_subtext {
    position: relative;
    text-align: center;
    padding: 100px 0 50px 0;
}

.subtext {
    position: relative;
    margin: 0;
    padding: 0 10% 0 10%;
}

.cube{
    width: 16px;
    height: 15.5px;
}


/* 테이블 값 시작 */

table.type07 {
    border-collapse: collapse;
    line-height: 1.5;
    border: 1px solid #ccc;
    margin: 20px 10px;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    width: 80%;
}

table.type07 thead {
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    background: #1D9898;
}

table.type07 thead th {
    padding: 1px 0;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    text-align: center;
    letter-spacing: -0.1em;
}

table.type07 tbody th {
    width: auto;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #CFF6E8;
    text-align: center;
}

table.type07 #FV {
    width: auto;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: center;
    vertical-align: middle;
}


table.type07 td {
    width: auto;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    text-align: left;
    vertical-align: middle;
}


/* 테이블 값 끝 */

/*footer 시작*/

#ft {
    background: #222;
}

.ft_wr {
    background: #1f262d;
    color: #ffffff;
    text-align: center;
    padding: 40px 20px;
}

#ft_copy {
    list-style: none;
    display: inline-block;
    border-left: 1px solid #ffffff;
    margin-bottom: 35px;
}

/*footer 끝*/

/*go_up 버튼*/
.goupbtn {
    content: url(/practice/img/arrow1.png);
    top: 90%;
    left: 90%;
    position: fixed;
    z-index: 2;
    width: 50px;
    height: 50px;
}

.goupbtn:hover {
    content: url(/practice/img/arrow2.png);
    top: 90%;
    left: 90%;
    position: fixed;
    z-index: 2;
}
/*go_up 버튼 끝*/



@media (max-width:800px) {
    .h2main_new {
        color: #1F262D;
        text-align: center;
        font-size: 24px;
        margin: 50px 0 50px 0;
    }

    .title_logo {
        display: block;
        position: relative;
        top: 20%;
        align-items: center;
        z-index: 2000;
    }
    .title_logo img {
        display: block;
        position: relative;
        width: 300px;
        align-items: center;
        z-index: 2000;
        padding: 10px 0 10px 0;
        margin: auto;
    }
    .hd1 {
        height: 62px;
    }
    .hd_main {
        background: #ffffff;
        width: 100%;
        height: 102px;
        z-index: 1999;
        border-bottom: 0.5px solid #ddd;
        position: sticky;
        top: 0;
    }
    .gnb_1da {
        color: #1F262D;
        line-height: 60px;
        font-size: 12px;
        font-weight: bold;
    }
    .gnb_2da {
        color: #1F262D;
        padding: 10px 0 10px 0;
        font-weight: bold;
        font-size: 6px;
        line-height: 11px;
        text-align: center;
        display: none;
    }
    .goupbtn {
        content: url(/practice/img/arrow1.png);
        top: 90%;
        left: 85%;
        position: fixed;
        z-index: 2;
        width: 50px;
        height: 50px;
    }
    .goupbtn:hover {
        content: url(/practice/img/arrow2.png);
        top: 90%;
        left: 85%;
        position: fixed;
        z-index: 2;
        width: 50px;
        height: 50px;
    }

    .maintext {
        position: relative;
        overflow: hidden;
        background: url(/practice/img/body.png)no-repeat center center;
        width: 100%;
        background-size: cover;
        padding: 50px 0 50px 0;
    }
    
    #h2_maintext{
        font-size: 20px;
    }

    #h2_subtext {
        position: relative;
        text-align: center;
        padding: 50px 0 25px 0;
    }

}